:root,
::backdrop {
  --sl-hue-accent: 274 !important;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-hue-accent: 274 !important;
}

/* Link Buttons */

:is(.hero, .sl-markdown-content) .sl-link-button.primary {
  background-color: var(--sl-color-blue-low) !important;
  border: 1px solid var(--sl-color-blue) !important;
  color: var(--sl-color-blue-high) !important;
}

:is(.hero, .sl-markdown-content) .sl-link-button.primary:is(:hover, :focus-visible) {
  border-color: oklch(52% 0.11 var(--sl-hue-blue)) !important;
  color: var(--sl-color-blue-accent-invert) !important;
}